
  <div class="table-toolbar">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="btn-group pull-right">
          <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
            Tools
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:;"> Print </a>
            </li>
            <li>
              <a href="javascript:;"> Save as PDF </a>
            </li>
            <li>
              <a href="javascript:;"> Export to Excel </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="example">
    <hot-table [data]="data" hotId="hotDepartmentInstance" (mousedown)="mousedown($event)" (afterChange)="afterChange($event)"
               [rowHeaders]="true" [colHeaders]="colHeaders"
               [columns]="columns" [colWidths]="colWidths" [settings]="options">
    </hot-table>
  </div>
